html,
body{
    width: 100%;
}

.header{
    display: flex;
}

.main-logo{
    margin-left: 40px;
     width: 10%;
     padding: 7px;
}
.brand-name{
    color: white;
    font-style: italic;
    font-family: serif;
    color: rgb(175, 125, 77);
    font-size: x-large;
    
}

.start-info{
    height: 6vh;
}

.main-photo{
    object-fit: cover;
    width: 100%;
    height: 600px;
}

.gift{
    width: 70%;
}

.gift-offer{
    padding:170px;
}

.card-group{
    margin: 30px;
}

.offer-summary{
    text-align: center;
}

.summary{
    text-align: center;
    margin-top: 170px;
    margin-bottom: 50px;
    font-style: italic;
    font-family: serif;
    color: rgb(175, 125, 77);
    font-size: x-large

}

.facebook{
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
}

.instagram{
    padding-right: 10px;
    width: 20%;
}

.twitter{
    width: 23%;
}

.footer{
    background-color: rgb(32, 32, 30);
    color: white;
    padding-top: 10px;
}

.message-tab{
    width: 30%;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

.message-tab span{
    text-align: center;
    margin-bottom: 70px;
}
